body {
  background-color: rgb(2, 12, 8);
}

.bg-dark {
  background-color: #171718 !important;
  border-bottom: 1px solid rgb(51, 46, 46);
  cursor: pointer;
  font-size: 17px;
}

.bg-dark:hover {
  background-color: #37373b !important;
}

.count {
  color: gray;
  padding-right: 10px;
}

audio {
  display: none;
}

.buttonsBar {
  display: flex;
  justify-content: center;
  background-color: #232325;
  position: fixed;
  bottom: 0;
  width: 100%;
}

ul {
  width: 99% !important;
  margin-left: 13px !important;
}

button {
  font-size: 30px !important;
  margin: 10px;
}

.btn-success {
  background-color: rgb(32, 179, 32) !important;
  border: rgb(28, 223, 28) !important;
}

.spotify {
  color: rgb(28, 223, 28);
  font-size: 50px;
  margin-left: 800px;
  margin-top: 5px;
  position: absolute;
}

.volume {
  color: rgb(208, 216, 202);
  font-size: 30px;
  margin-right: 900px;
}

.hiding {
  display: none;
}

.btn-link {
  color: white !important;
  position: absolute;
  margin-right: 700px;
}

.btn-link:hover {
  color: rgb(28, 223, 28) !important;
  position: absolute;
  margin-right: 700px;
}

.vDown {
  color: white !important;
  position: absolute;
  margin-right: 800px;
}

.vDown:hover {
  color: rgb(28, 223, 28) !important;
  position: absolute;
  margin-right: 800px;
}

.fa-compact-disc {
  color: rgb(28, 223, 28);
  font-size: 22px;
  margin-left: 12px;
  margin-top: 4px;
}
