body {
    background-color: rgb(2, 12, 8);
}

.bg-dark {
    background-color: #171718 !important;
    border-bottom: 1px solid rgb(51, 46, 46);
    cursor: pointer;
    font-size: 17px;
}

.bg-dark:hover {
    background-color: #37373b !important;
}

.count {
    color: gray;
    padding-right: 10px;
}

audio {
    display: none;
}

.buttonsBar {
    display: flex;
    justify-content: center;
    background-color: #232325;
    position: fixed;
    bottom: 0;
    width: 100%;
}

ul {
    width: 99% !important;
    margin-left: 13px !important;
}

button {
    font-size: 30px !important;
    margin: 10px;
}

.btn-success {
    background-color:rgb(38, 184, 38) !important;
}

.spotify {
    color: rgb(28, 223, 28);
    font-size: 50px;
    margin-left: 800px;
    margin-top: 5px;
    position: absolute;
}

.hiding {
    display: none;
}

.selected {
    background-color: blue;
}